In [1]:
'''
1.	In the below elements which of them are values or an expression? 
2.	eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 


'''

"\n1.\tIn the below elements which of them are values or an expression? \n2.\teg:- values can be integer or string and expressions will be mathematical operators.\n* \n'hello'\n-87.8\n- \n/ \n+\t\n6 \n\n\n"

In [2]:
'''
Values:

'hello', -87.8, 6 

expression:

*, -, /, +


'''

"\nValues:\n\n'hello', -87.8, 6 \n\nexpression:\n\n*, -, /, +\n\n\n"

In [3]:
# 2. What is the difference between string and variable?

'''
string is an data type
variable is stores a data/input value

a='Kishore'

here 'a' is varaible and it stores the value of "Kishore"
and
'Kishore' is a string type charector

'''

'\nstring is an data type\nvariable is stores a data/input value\n\na=\'Kishore\'\n\nhere \'a\' is varaible and it stores the value of "Kishore"\nand\n\'Kishore\' is a string type charector\n\n'

In [4]:
# 3. Describe three different data types.

# int: int full form is integer and it stores the numerical values. Ex: 1,2,34,4,5,667,987

#str: str full form is string it stores the charecter values like texts and numbers 
#     but the type will be in str wich fall under single quotes or double quotes
#     Ex:'Kishore',"Kishroe0295","1234" these all are string because these all are fall under quotes ''

#float: float is a data type which allows the decimals into it. Ex: 20.30,34.56,99.89,98.99.10.06..etc

In [7]:
# 4. What is an expression made up of? What do all expressions do?
# Expression are made up of for manipulating the data to bring out the certain required output
# Ex: '*' it made for multiplication
#     '-' this is for substraction
#     '+' this is for addition
#     '/' this is for division

In [8]:
# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
# here expression is manipulating the data like 10 *10 or 10+10...
# but in this statemnet say that 10 is value assigned to the variable spam

In [10]:
#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
# here bacon values is assigned as 22 and 2nd line code we are manipulating using the + operator, so the output will be 23

23

In [14]:
#7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
# Here code line number 1 we are performing concatnate operation by paasing two strings the output will be 'spamspamspam'
#and line number 2 we are trying to print the same string in multiplication of 3 times the output will be 'spamspamspam' 
#same because the passing strings are same and expected output also same

'spamspamspam'

In [16]:
#8. Why is eggs a valid variable name while 100 is invalid?
# yes as per syntax we cannont assign a numerical started or special charector(except '_') to variable so it is invalid

In [17]:
#9. What three functions can be used to get the integer, floating-point number, or string version of a value?
'''
functions to get the three functions can be used to get the integer, floating-point number, or string version
1 integer          ---> int()
2 floating-point -----> float()
2 string         -----> str()
'''

'\nfunctions to get the three functions can be used to get the integer, floating-point number, or string version\n1 integer          ---> int()\n2 floating-point -----> float()\n2 string         -----> str()\n'

In [21]:
# 10. Why does this expression cause an error? How can you fix it?
# 'I have eaten ' + 99 + ' burritos.'
# The above expression is error because here we are trying to concatenate the string values to the integer values
# which is not possible
# the possible way's are is below
print('I have eaten ' + '99' + ' burritos.') # putting the integer into the quotes to convert it into string
'I have eaten ' + str(99) + ' burritos.' # using a Type casting

I have eaten 99 burritos.

'I have eaten 99 burritos.'